.body-main {
    display: flex;
    position: relative;
    max-width: 100%;
    margin: 0;
}
.body-fondo-main {
    display: flex;
    position: relative;
    width: 700px;
    height: auto;
    margin: 0;
    margin-top:5%;
    margin-left: 55%;
    margin-bottom: 5%;
    border-radius: 10px;
    transition: transform 0.5s ease;
    transition: opacity 0.3s ease;
}
/*.body-fondo-main:hover {

}*/
.body-boton-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* ajusta el ancho según tus necesidades */
    height: 50px; /* ajusta la altura según tus necesidades */
    border-radius: 10px; /* bordes redondeados */
    background-color: #3498db; /* color de fondo */
    color: #fff; /* color del texto */
    font-size: 16px; /* tamaño del texto */
    cursor: pointer;
    outline: none; /* elimina el contorno al hacer clic */
    border: none; /* elimina el borde predeterminado */
    transition: background-color 0.3s ease; /* transición de color de fondo */
}


}
.body-boton-contacto:hover {
    background-color: #0678a2; /* color de fondo al pasar el ratón */
    color: #fff; /* Color del texto al hacer hover */
    transform: scale(1.05); /* Efecto de escala al hacer hover */
}